 registry=http://xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/registry/ 

; begin auth token
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/registry/:username=DefaultCollection
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/registry/:_password=aGE0bmxueDdndTNqdTZvMmFobm9samFvNWplcWljbjdvd2M0eWd6bGtyNDZvNm8zM29vYQ==
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/:username=DefaultCollection
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/:_password=aGE0bmxueDdndTNqdTZvMmFobm9samFvNWplcWljbjdvd2M0eWd6bGtyNDZvNm8zM29vYQ==
//xtfs/DefaultCollection/_packaging/pip_install%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

# registry=http://xtfs/DefaultCollection/_packaging/pip_install/npm/registry/ 
                        
always-auth=true

